*{
    margin: 0px;
    padding: 0px;
}
.icon-dev{
    color: blue;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    
}
.icon-dev-search img{
    width: 60px;
    height: 60px;
    /* background-color: cadetblue;
    border-radius: 50%; */
    margin-top: 10px;
}

.icon-dev-search h4  {
color: black;
}
.icon-dev-para {
color: black;
font-size: initial;
font-family: monospace;
text-align: justify;
padding: 10px;
}
.icon-dev-search{
    
    border-radius: 5px;
    background-color: gainsboro;
    padding-top: 50px;
    
     
}
.icon-dev-search:hover{
    
    border-radius: 5px;
    background-color: darkslategrey;
    color: white;
    transition: all 2s;
}